@import "./fonts.css";
@import "tailwindcss";
@import "basecoat-css";

:root {
  /* colors */
  --bg-color: var(--color-zinc-50);
  --text-color: var(--zinc-700);
  --text-muted: var(--color-zinc-400);
  --border-color: var(--color-zinc-200);

  /* layout */
  --padding: 1rem 1rem;
  --padding-half: 0.5rem 1rem;

  /* borders */
  --border: var(--border-color);
  --radius: 0.375rem;
  --radius-round: 1e5px;

  /* icons */
  --tl-icon-size: 1rem;
}

:root[class="dark-mode"] {
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
