@import "normalize.css";
@import "colors.css";
@import "fonts.css";
@import "theme.css";

body {
  color: var(--text-primary);
  background: var(--background);
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

/* ## Header */

header {
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  img {
    width: 48px;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  h1 span {
    font-size: 1rem;
    font-weight: normal;
  }
}

/* ## Board Grid */

main.grid {
  display: grid;
  grid-template-areas:
    "main"
    "other"
    "time";
  grid-gap: 0.5rem;
  grid-template-columns: 4fr 5fr 4fr;

  @media screen and (min-width: 700px) {
    grid-template-areas:
      "time main"
      "time other";
  }

  @media screen and (min-width: 1200px) {
    grid-template-areas: "time main other";
    grid-gap: 0;
  }

  .grid-timeline {
    grid-area: time;
  }

  .grid-main {
    grid-area: main;
  }

  .grid-other {
    grid-area: other;
  }

  > section {
    border: 0px solid lightgray;
    padding: var(--padding);
  }
}

/* ## Zone */

.zone {
  margin-bottom: 2rem;
}

.zone-header {
  margin-bottom: 1rem;

  h2 {
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid var(--border);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }

  aside {
    color: var(--text-muted);
    border: 1px solid var(--border);
    border-radius: var(--radius);
    padding: var(--padding-half);
  }
}

/* ## Timeline */

.tl-icon {
  --icon-color: var(--text-muted);
  --icon-border: var(--icon-color);
  --icon-background: var(--background);
  border-radius: var(--radius-round);
  border: 1px solid var(--icon-border);
  display: inline-block;
  padding: calc(var(--tl-icon-size) / 4);
  color: var(--icon-color);
  background-color: var(--icon-background);
  margin-left: calc(((var(--tl-icon-size) * -1.5) / 2) - 2px);

  sl-icon {
    width: var(--tl-icon-size);
    height: var(--tl-icon-size);
  }
}

.tl-icon-info {
  --icon-border: var(--background);
}

.tl-icon-ft {
  --icon-color: green;
  --icon-background: lightgreen;
}

.tl-icon-ambo {
  --icon-color: red;
  --icon-background: pink;
}

.tl-icon-walkin {
  --icon-color: yellow;
  --icon-background: lightyellow;
}

.tl-icon-police {
  --icon-color: blue;
  --icon-background: lightblue;
}

.tl-node {
  border-left: 2px solid var(--border);
  margin-left: calc(var(--tl-icon-size) * 1.5 / 2);
}

.tl-undo {
  display: flex;
  align-items: flex-end;
}

.tl-event {
  display: flex;
  align-items: center;
  gap: var(--tl-icon-size);
  padding-bottom: 1rem;
}

.tl-info {
  font-family: var(--font-monospace-code);
  font-size: 0.8rem;
  color: var(--text-muted);
}

.tl-assign {
  width: 100%;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  background: white;
  padding: var(--padding-half);
}

.tl-room-provider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 1.5rem;
  padding-right: 1rem;
}
