@import "normalize.css";
@import "colors.css";
@import "fonts.css";
@import "theme.css";

body {
  color: var(--text-primary);
  background: var(--background);
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

/* ## Zone */

.zone {
  margin-bottom: 2rem;
}
